* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-y: scroll;
    font: 12pt 'Helvetica', 'Arial', sans-serif;
}
p {
    margin-bottom: 16px;
}

#calc-form {
    margin-top: 48px;
}
#calc-form #form-container input[type="number"] {
    display: inline-block;
    width: auto;
}
#calc-form #form-container table {
    /*background: none;*/
    width: 100%;
    border: none;
}
#calc-form #form-container table tr td {
    height: 48px;
    padding: 0;
}
#calc-form #form-container .button.secondary {
    display: block;
    width: 100%;
    height: 100%;
    padding: 14px 0;
    margin-bottom: 0;
}
#calc-form #form-container .type {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
#calc-form #form-container .type label {
    margin-left: 0;
}
#calc-form #form-container .type input[type="radio"] {
    display: none;
}
#calc-form #form-container .type input[type="radio"]:checked + label {
    background: #ccc;
}
#calc-form #form-container .button.calc {
    display: block;
    width: 100%;
    padding: 12px 24px;
}
#calc-form .content {
    background: #eee;
    padding: 16px;
    border: 1px solid #ddd;
}
#calc-form #calc-result-container {
    margin-top: 16px;
}
#calc-form #calc-result-container #calc-result {
    min-height: 160px;
}

.clear {
    clear: both;
}

@media only screen and (min-width: 40em) {
    #calc-form #calc-result-container {
        margin-top: 0;
    }
}
