* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow-y: scroll;
    font: 12pt 'Helvetica', 'Arial', sans-serif;
}
p {
    margin-bottom: 16px;
}

#main-content {
    width: 240px;
    margin: 128px auto;
}

#calculator {
    background: #eee;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#calculator table {
    width: 100%;
}
#calculator table td input[type="text"] {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 8px;
}
#calculator table td .button {
    width: 100%;
    padding: 8px 12px;
}

.clear {
    clear: both;
}
